:root {
  --grid-gap-color: black;
  --header-footer-bg: #b3daff;
  --sidebar-bg: #ffe6cc;
  --bottom-bg: #e6ffcc;
  --current-page-link-border-color: blue;
  --current-page-link-bg-color: white;
  --current-page-link-color: black;
  --current-page-link-border-radius: 12px;
  --standart-link-color: #0a5200;
  --standart-link-bg-color: #9afa91;
  --hover-link-bg-color: #aafaa1;
  --standart-border-radius: 8px;
  --standart-menu-link-color: black;
  --current-page-menu-link-color: blue;
  --article-bg: white;
  --text-in-header-h1-font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  overflow: auto;
  background: var(--grid-gap-color);
}

.capitalize {
  text-transform: capitalize;
}

header {
  display: flex;
  flex: 1;
  background: var(--header-footer-bg);
}

.not-header {
  display: flex;
  flex: 4;
  flex-direction: row-reverse;
  background: var(--article-bg);
}

#right-side-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 250px;
  padding-right: 2%;
  padding-left: 2%;
  overflow: auto;
  text-align: center;
  background: var(--sidebar-bg);
}

#right-side-bar > span:first-child {
  margin: 5%;
}

#img-container {
  display: flex;
  flex: 1;
  overflow: auto;
}

#img-container img {
  display: block;
  flex: 1;
  width: 100%;
  min-width: 240px;
  height: 65vh;
  min-height: 325px;
  margin-right: auto;
  margin-left: auto;
}

.not-rsb {
  display: flex;
  flex: 3;
  flex-direction: column-reverse;
  min-width: 750px;
}
footer {
  display: flex;
  flex: 1;
  min-width: 750px;
  background: var(--header-footer-bg);
}
.not-footer {
  display: flex;
  flex: 3;
  flex-direction: row;
}

#left-side-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  padding-right: 2%;
  overflow: auto;
  background: var(--sidebar-bg);
}

.not-lsb {
  display: flex;
  flex: 2;
  flex-direction: column-reverse;
}

article {
  display: flex;
  flex: 7;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2%;
}
nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: var(--bottom-bg);
}

#left-side-bar div {
  margin: 5% 10% 0 1%;
  font: italic small-caps bold 20px cursive;
  text-align: end;
}
#left-side-bar > div:first-child {
  flex: 1;
}

#left-side-bar > div:last-child {
  display: flex;
  flex: 5;
}

#left-side-bar > div:last-child ol {
  display: flex;
  flex-direction: column;
}

#left-side-bar > div:last-child ol li {
  flex: 1;
}

#left-side-bar a {
  color: var(--standart-menu-link-color);
}

#text-in-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20vw;
  min-width: 220px;
  height: 8vh;
  min-height: 35px;
  margin-left: 15%;
  background: white;
  border: solid;
}
#text-in-header h1 {
  margin: 1vw;
  font-size: var(--text-in-header-h1-font-size);
  text-align: end;
}
.another-text-in-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  padding-right: 1vw;
  overflow: auto;
  text-align: end;
}
.wrap {
  display: flex;
  align-items: center;
  width: 50%;
}

nav .link {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin: 1%;
  background: var(--standart-link-bg-color);
  border: solid;
  border-radius: var(--standart-border-radius);
}

nav a {
  color: var(--standart-link-color);
}

nav .current-page {
  flex: 1.2;
  color: var(--current-page-link-color);
  background-color: var(--current-page-link-bg-color);
  border: dashed var(--current-page-link-border-color);
  border-radius: 12px;
}

nav .link:hover {
  background-color: var(--hover-link-bg-color);
  cursor: pointer;
}

#text-in-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  min-width: 220px;
  height: 8vh;
  min-height: 35px;
  margin-left: 23%;
  overflow-wrap: break-word;
  hyphens: manual;
  background: white;
  border: solid;
}

#text-in-footer h1 {
  font-size: var(--text-in-header-h1-font-size);
}

article span {
  margin: 5vmin 2vmin 5vmin 5vmin;
  overflow: auto;
  text-align: end;
  overflow-wrap: break-word;
  hyphens: manual;
}
.current-page-menu-link {
  color: var(--current-page-menu-link-color);
}
#swap-button {
  margin-top: auto;
}
#forSwap {
  display: flex;
  flex-direction: column;
}
